@import "../../../responsive-break-point.scss";
.user-option-wrapper {
	position: absolute;
	border-radius: 50%;
	display: flex;
	align-items: center;
	padding: 0.3rem;
	box-shadow: 0 0 10px 0px #fd9738;
	top: 30%;
	right: 10px;
	&:hover .userOption {
		display: flex;
	}

	.option {
		height: 20px;
		cursor: pointer;
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.userOption {
	position: absolute;
	display: none;
	@include small-down {
		right: 0px;
	}
	right: -10px;
	top: 30px;
	z-index: 1;
	flex-direction: column;
	padding: 0.5rem;
	border-radius: 5px;
	color: black;
	background: #fff;
	button {
		border: none;
		background: none;
		border-bottom: 1px solid rgb(240, 228, 228);
		font-size: 14px;
		width: 100px;
		padding: 0.5rem;
		text-align: left;
		cursor: pointer;
		&:hover {
			background-color: rgb(221, 199, 199);
			color: white;
		}
	}
}
