.settings {
	width: 100%;

	color: black;
	display: flex;
	flex-direction: column;
	button {
		&:hover{
			background-color: #e0e3e9;
		}
		font-size: 16px;
		background: none;
		cursor: pointer;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: start;
		border: none;
		outline: none;
		padding: 0.5rem;
		span {
			margin-left: 1rem;
		}
		img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
