.login-user {
	padding: 0.2rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	cursor: pointer;
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.title {
		text-align: left;
		margin-bottom: 0.5rem;
	}
	.logged-user {
		display: flex;
		align-items: center;
		h5 {
			margin-left: 0.5rem;
		}
	}
}
