.typing-container {
	position: absolute;
	top: -15px;
	left: 9%;
}
.images {
	display: flex;
	align-items: center;
	position: absolute;
	top: -70px;
	right: 15%;
	width: fit-content;
	img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
		margin-right: 0.5rem;
	}
}
.inputField {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0rem;
	width: 100%;
	.reply-info {
		display: none;
		position: absolute;
		top: -77%;
		width: 100%;
		text-align: left;
		border-top: 1px solid #ced0d4;
		background: white;
		.reply_to {
			display: flex;
			align-items: center;
			justify-content: space-between;
			button {
				margin-right: 4%;
				background:none;
				border: none;
				outline: none;
				cursor: pointer;
				.unselect-reply{
					font-size: 15px;
					padding: .2rem;

				}
			}
		}

		p {
			font-size: 14px;
			margin-left: 2%;
		}
	}
	.image-upload {
		position: absolute;
		top: -2rem;
		right: 5rem;
		display: flex;
		.container {
			display: flex;
			img {
				width: 40px;
				height: 40px;
				margin-right: 0.5rem;
			}
			button {
				font-size: 9px;
				cursor: pointer;
				background: none;
				position: absolute;
				border: none;
			}
		}
	}
}

.uploadProgress{
	position: absolute;
	top: -50%;
}