@import "../../responsive-break-point.scss";
@import "../../Utils//mixin.scss";

.home {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	box-shadow: 0 0 20px grey;
	width: 100%;
	// height: 100%;
	margin: auto;
	display: flex;
	.leftside {
		position: relative;
		border-right: 1px solid rgb(236, 226, 212);
		width: 20%;
		min-width: 300px;
		@include small-down {
			padding: 0.2rem;
		}
		padding: 0.5rem;
	}
	@include mobileResponsive;
}

// responsive
