.chat-box {
	max-width: 500px;
	margin: auto;
	.header {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		.back {
		}
		.img {
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
	}

	.chat-area {
		.message-container {
			position: relative;
			#you {
				
				float:right;
			}
			#other {
				position: absolute;
				left: 0;
			}
		}
	}

	// sendbox area
	.sendbox {
		position: fixed;
		bottom: 0;
		.wrapper {
			position: relative;
			input {
				padding: 0 1rem;
				width: 400px;
				height: 40px;
			}
			.attach {
				position: absolute;
				top: 30%;
				right: 5rem;
			}
			.send {
				position: absolute;
				top: 30%;
				right: 3rem;
			}
		}
	}
}
