@import "../../../../responsive-break-point.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
.user {
	position: relative;
	cursor: pointer;
	@include small-down {
		padding: 0.5rem 0.2rem;
	}
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	&:hover {
		background-color: rgb(70 62 62);
		border-radius: 10px;
	}
	&:hover .option {
		display: flex;
	}
	.img {
		@include small-down {
			width: 20px;
			height: 20px;
			margin-right: 0.2rem;
		}
		margin-right: 1rem;
		position: relative;
		width: 45px;
		height: 45px;
		img {
			height: 100%;
			width: 100%;
			border-radius: 50%;
		}
	}
	.name {
		h5 {
			@include small-down {
				font-size: 10px;
			}
			text-align: left;
		}
		p {
			color: black;
			text-align: left;
			font-size: 10px;
		}
	}
	.time {
		position: absolute;
		right: 4rem;
		text-align: right;
		font-size: 14px;
		p {
			color: #858686;
		}
	}
	.option {
		@include small-down {
			font-size: 10px;
		}
		width: 20px;
		position: absolute;
		right: 1rem;
		height: 20px;
		display: none;
		&:hover {
			background-color: white;
			box-shadow: 0 0px 10px rgb(238, 189, 189);
			border-radius: 50%;
		}
		padding: 2px;
		.dot {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: rgb(145, 117, 117);
			margin: auto;
		}
	}
}
.active {
	position: absolute;
	width: 10px;
	@include small-down {
		width: 5px;
		height: 5px;
	}
	bottom: 1px;
	right: 0px;
	height: 10px;
	border-radius: 50%;
	background-color: yellow;
}
.wi {
	font-weight: initial;
}
.wb {
	font-weight: bold;
}
