.messages {
	display: flex;
	width: 100%;
	color: white;
	margin-bottom: 0.5rem;
	align-items: center;
	color: black;
	border-radius: 5px;
	.seen {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		position: absolute;
		bottom: -5px;
		right: -10px;
		text-align: right;
	}
	p {
		padding: 0.5rem;
		font-size: 12px;
		text-align: left;
		max-width: 220px;
		word-wrap: break-word;
	}
	span {
		color: rgba(0, 0, 0, 0.664);
		font-size: 12px;
		display: flex;
		text-align: right;
	}
	img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 0.5rem;
	}
	.messageImg {
		width: 100px;
		height: 100px;
		cursor: pointer;
		border-radius: 5px;
	}
}
#own {
	position: relative;
	justify-content: flex-end;

	span {
		justify-content: flex-end;
		font-size: 8px;
		
		margin-right: 1rem;
	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: white;
		background: #007cf9;
	}
}
#other {
	position: relative;
	span {
		justify-content: flex-start;
		margin-left: 0.5rem;
		font-size: 8px;

	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: black;
		background: #f7eded;
	}
}
