@import "../../../responsive-break-point.scss";
.messages {
	display: flex;
	width: 100%;
	color: white;
	margin-bottom: 0.5rem;
	align-items: center;
	color: black;
	border-radius: 5px;
	.sms-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: -1;
	}
	.seen {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		position: absolute;
		bottom: -5px;
		right: -10px;
		text-align: right;
	}
	p {
		padding: 0.5rem;
		margin-right: 10px;
		font-size: 0.9375rem;
		text-align: left;
		width: fit-content;
		max-width: 220px;
		word-wrap: break-word;
		@include small-down {
			font-size: 13px;
		}
	}
	span {
		color: rgba(0, 0, 0, 0.664);
		font-size: 12px;
		display: flex;
		text-align: right;
	}
	img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 0.5rem;
	}
	.messageImg {
		width: 100px;
		height: 100px;
		cursor: pointer;
		border-radius: 5px;
	}
	.tooltip {
		background-color: black;
		padding: 0.5rem;
		border-radius: 5px;
		color: white;
		display: none;
		font-size: 12px;
		margin-top: auto;
		// @include medium-down{
		// position: absolute;
		// }
	}
	.repliedRef {
		.repliedSms {
			width: fit-content;
			background: #f6f9fa;
			color: #65676b;
			padding: 1rem;
			font-weight: bold;
			margin-bottom: -10px;
			border-radius: 20px;
		}
	}
	.showReact {
		margin-top: -7px;
		margin-left: auto;
		img {
			width: 20px;
			height: 20px;
		}
	}
	&:hover > .option-container .message-option {
		display: flex;
	}
	.message-option {
		display: none;
		align-items: center;
		justify-content: center;
		// gap: .5rem;
		background: none;
		img {
			width: 20px;
			height: 20px;
			margin-right: 0;
		}
	}
}
.message-option > button {
	border: none;
	background: none;
	padding: 0.2rem;
	cursor: pointer;
	border-radius: 50%;
	&:hover {
		background: #f2f4f8;
	}
}
.more-btns {
	display: none;
	position: absolute;
	z-index: 1;
	background: white;
	top: -80px;
	flex-direction: column;
	padding: 0.5rem 0;
	border-radius: 5px;
	box-shadow: 0 0 20px rgb(201, 183, 183);
	button {
		padding: 0.5rem 3rem 0.5rem 1em;
		background: none;
		border: none;
		outline: none;
		&:hover {
			background: #f2f4f8;
		}
	}
}

#own {
	position: relative;
	justify-content: flex-end;
	.message-option {
		flex-direction: row-reverse;
	}
	span {
		justify-content: flex-end;
		font-size: 12px;
		margin-right: 1rem;
	}
	.profileImg {
		display: none;
	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: white;
		background: #007cf9;
	}
}

#other {
	position: relative;
	flex-direction: row-reverse;
	justify-content: start;
	span {
		justify-content: flex-start;
		margin-left: 0.5rem;
		font-size: 12px;
	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: black;
		background: #f7eded;
	}
	.remove {
		display: none;
	}
	.more-btns {
		top: -45px;
	}
	.sms-wrapper {
		align-items: flex-start;
	}
}
.convDate {
	margin: 0.5rem 0;
	width: 100%;
	@include small-down{
		font-size: 11px;
	}
    

}

.audio,
.vedio {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
