.messages {
	display: flex;
	width: 100%;
	color: white;
	margin-bottom: 0.5rem;
	align-items: center;
	color: black;
	border-radius: 5px;
	p {
		padding: 0.5rem;
		font-size: 12px;
		text-align: left;
		max-width: 220px;
		word-wrap: break-word;
	}
	span {
		color: rgba(0, 0, 0, 0.664);
		font-size: 12px;
		display: flex;
		text-align: right;
	}
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 0.5rem;
	}
	.messageImg {
		width: 100px;
		height: 100px;
		cursor: pointer;
		border-radius: 5px;
	}
}
#own {
	justify-content: flex-end;

	span {
		justify-content: flex-end;
	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: white;
		background: rgb(3, 1, 15);
	}
}
#other {
	span {
		justify-content: flex-start;
	}
	p {
		padding: 0.5rem 1rem;
		border-radius: 25px;
		color: black;
		background: #fff;
	}
}
