@import "../../responsive-break-point.scss";
.search {
	position: relative;
	color: #a9b5c1;
	max-width: 500px;
	padding-bottom: 10px;
	input {
		@include small-up {
			height: 30px;
			border-radius: 50px;
			border: none;
			background: rgb(247, 238, 238);
			outline: none;
			margin-top: 0px;
			margin-bottom: 1rem;
		}
		margin-top: 20px;
		border-radius: 15px;
		width: 85%;
		outline: none;
		padding-left: 50px;
		height: 50px;
		border: none;
		box-shadow: 0 1px 5px 0px rgb(238, 155, 155);
	}
	.search-icon {
		position: absolute;
		left: 10px;
		width: 40px;
		top: 49%;
		@include small-up {
			top: 15%;
		}
	}
}
