@import "../../../responsive-break-point.scss";
@import "../../../Utils/mixin.scss";
.profile {
	max-width: 500px;

	.profile-box {
		position: relative;
		@include small-down {
			padding: .5rem
		}
		width: 100%;
		max-width: 500px;
		// position: absolute;
		border: 1px solid rgb(243, 216, 216);
		padding: 1rem;
		border-radius: 5px;

		.profile-image {
			.chooseFile {
				position: relative;
				display: flex;
				// width: 50px;
				margin: 1rem auto;
				justify-content: center;
				cursor: pointer;
			}
			span {
				position: absolute;
				bottom: 0;
				border: none;
				cursor: pointer;
				padding: 0.2rem;
				background-color: rgb(197, 221, 231);
				border-radius: 2px;
				opacity: 0.7;
				font-weight: bold;
				color: rgb(8, 12, 12);
			}
			img {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				border: 1px solid rgb(247, 200, 200);
			}
			input[type="file"] {
				display: none;
			}
		}

		.editoption {
			p {
				@include small-down {
		margin-right: 0rem;
	}
				font-size: 14px;
				margin-right: 1rem;
				text-transform: capitalize;
				display: flex;
				align-items: center;
			}
			input {
				@include small-down {
		width: 130px;
	}
				width: 300px;
				outline: none;
				border: none;
				background: none;
			}
			button {
				// @include button;
				width: fit-content;
				min-width: 50px;
				position: initial;
			}
			margin-top: 1rem;
			border: 1px solid gray;
			border-radius: 5px;
			padding: 0.5rem;
			display: flex;
			justify-content: space-between;
			button {
				border: none;
				cursor: pointer;
				padding: 0.2rem;
				border-radius: 1px;
			}
		}
	}
}
