@import "../../../../responsive-break-point.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
.user {
	@include small-down {
		padding: 0.5rem 0.2rem;
	}
	border: 1px solid lightgrey;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
	&:hover {
		background-color: #f5f5f5;
		border-radius: 10px;
	}
	&:hover .option-btn {
		display: flex;
	}
	.img {
		@include small-down {
			width: 35px;
			height: 35px;
			margin-right: 0.5rem;
		}
		margin-right: 1rem;
		position: relative;
		width: 48px;
		height: 48px;
		img {
			height: 100%;
			width: 100%;
			border-radius: 50%;
		}
	}
	.name {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		h4 {
			color: black;
			font-size: 0.9375rem;
			@include small-down {
				font-size: 12px;
			}
			text-align: left;
		}
		.lastSmsAndTime {
			display: flex;
			gap: 1rem;
			p {
				color: black;
				text-align: left;
				font-size: 13px;
			}
		}
	}

	.option-btn {
		@include small-down {
			display: flex !important;
		}
		margin-left: auto;
		cursor: pointer;
		box-shadow: 0 0 10px rgb(231, 210, 210);
		&:hover {
			background-color: rgb(253, 244, 244);
		}
		&:active {
			transform: scale(1.1);
		}
		transition: transform ease-in 0.1s;
		background: white;
		border: none;
		outline: none;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		align-items: center;
		justify-content: center;
		display: none;
		padding: 2px;
		.dot {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: rgb(145, 117, 117);
			margin: auto;
		}
	}
}

.userOption {
	position: absolute;
	@include small-down {
		right: 0px;
	}
	box-shadow: 0 0 5rem rgb(233, 200, 200);
	display: none;
	right: 10px;
	z-index: 1;
	top: 50px;
	flex-direction: column;
	padding: 1rem;
	border-radius: 5px;
	color: black;
	background: #fff;
	button {
		border: none;
		background: none;
		border-bottom: 1px solid rgb(240, 228, 228);
		font-size: 14px;
		width: 100px;
		padding: 0.5rem;
		text-align: left;
		cursor: pointer;
		&:hover {
			background-color: rgb(221, 199, 199);
			color: white;
		}
	}
}

.active {
	position: absolute;
	width: 10px;
	@include small-down {
		width: 10px;
		height: 10px;
	}
	bottom: 1px;
	right: 0px;
	height: 10px;
	border-radius: 50%;
	background-color: yellow;
}

.about-item-box {
	width: 1200px;
	margin: 0 auto;
}
