.active{
    position: absolute;
    width: 10px;
    bottom: 1px;
    right: 0px;
    height: 10px;
    box-shadow: 0 0 10px 5px rgb(247, 213, 213) ;
    border-radius: 50%;
    background-color: yellow;
}