@import "../../../Utils/mixin.scss";
@include updateModalsCss;
.changePass {
	display: none;
	.isShow {
		width: 14px;
		position: absolute;
		right: 20px;
		cursor: pointer;
		padding-top: 0.6rem;
	}
}
